<h2>A propos de DTI</h2>
<div>
    <p>
        DTI est une jeune organisation non-gouvernementale qui opere dans le secteur humanitaire et qui mene a succes les projet dans ce domaine a la demande des donneurs et personnes de charite 
        pour changer et ameliorer les coditions de vie dans la communaute 
        et ainsi participer au developpement du pays en particulier et du continent en general.
    </p>

    <p>
        Nous sommes basee a Goma, Nord-kivu RDC, pour un debut, et 
        nous mettons a l'oeuvre de la communaute de cette province 
        pour palier aux consequences associees a certaines ctastrophes qu'a connu ce peuple.
    </p>

    <p>
        Nous prennons notre tache a coeur, 
        et dedions tout notre effort pour assurer le bon deroulement de nos activites, 
        et pour s'y faire DTI a instituer certain valeurs pour atteinder ses objectifs. <br>
        Ces valeurs sont: <br>

        <ul>
            <li>Honnetete</li>
            <li>Excellence</li>
            <li>Ponctuel</li>
            <li>Justice</li>
            <li>Transparence</li>
        </ul>
    </p>
</div>