<div>
    <ul class="rslides" id="slider">
        <li><img src="/img/slide1.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide2.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide3.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide4.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide5.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide6.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide7.jpg" data-selector="img" alt=""></li>
    </ul>
    <!-- Slideshow 3 Pager -->
    <!-- <ul id="slider3-pager">
        <li><img src="/img/slide11.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide22.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide33.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide44.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide55.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide66.jpg" data-selector="img" alt=""></li>
        <li><img src="/img/slide77.jpg" data-selector="img" alt=""></li>
    </ul> -->    
</div>