<h2>Contact</h2> <hr>
<div class="mdl-grid" id="contact_content">
    <div class="mdl-cell mdl-cell--6-col" id="contact_form">
        <h3>ENVOYER UN MESSAGE</h3>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-offset"></div>
            <form action="#" class="mdl-cell mdl-cell--9-col">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="name">
                    <label class="mdl-textfield__label" for="name">Nom de l'organisation/de la personne *</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="email" id="email">
                    <label class="mdl-textfield__label" for="email">Adresse email *</label>
                </div>
                <div>
                    <small id="emailHelp" class="form-text text-muted">Soyez rassurez, nous ne partagerons pas votre adresse.</small>        
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" type="text" rows= "3" id="message" ></textarea>
                    <label class="mdl-textfield__label" for="message">Saisissez votre message ici...</label>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                        Envoyer
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
          
    </div>

    <div class="mdl-cell mdl-cell--6-col" id="contact_info">
        <h3>PLUS DE DETAILS: </h3>
        
        <table class="mdl-data-table mdl-js-data-table">
            
            <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Location: </strong></td>
                    <td class="mdl-data-table__cell--non-numeric">Goma, RD Congo</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Telephone:</strong></td>
                    <td class="mdl-data-table__cell--non-numeric">+243 81 700 0043, +243 97 087 5450, +243 99 345 3544</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><strong>Email: </strong></td>
                    <td class="mdl-data-table__cell--non-numeric">info@dti.org</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Social Media: </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="#"><img src="/img/fb.png" alt="notre page facebook"></a>
                        <a href="#"><img src="/img/twitter.jpg" alt="notre compte twitter"></a>
                        <a href="#"><img src="/img/ig.jpeg" alt="notre page instagram"></a>
                    </td>
                </tr>
            </tbody>
        </table>
              

    </div>
</div>