<div id="service_row_one">
    <h2>Nos Services</h2>
    <div class="owl-carousel owl-theme">
        <div class="mdl-grid service">
            <div class="mdl-cell mdl-cell--4-col">
                <img src="/img/education.jpg" alt="projet education">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="service_content">
                    <h3>Project Education</h3>
                    Nous oeuvrons avec l'aide de nos Donneurs, 
                    a une repartition equitable a l'acces de l'education 
                    des enfants Congolais sans discrimination
                </div>
            </div>
        </div>

        <div class="mdl-grid service">
            <div class="mdl-cell mdl-cell--4-col">
                <img src="/img/refugies.jpg" alt="projet pesronne deplacees">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="service_content">
                    <h3>Projet d'assistance aux personnes deplacees</h3>
                    La RDC a un grand nombre de familles et personnes deplacees 
                    de leurs domicile pour plusieurs causes. 
                    Nous nous engangeons a offrir le maximum d'aide en notre 
                    disposition pour aumoins couvrir certains besoins necessaires pour ces victimes.
                </div>
            </div>
        </div>

        <div class="mdl-grid service ">
            <div class="mdl-cell mdl-cell--4-col">
                <img src="/img/agriculture.jpg" alt="projet agriculture">
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="service_content">
                    <h3>Projet d'agricultures</h3>
                    Avec une terre assez fertile, nous nous engangeons dans des projets qui
                    permetront aux operateurs du secteur agricole d'utilisait leurs resources aux maximum 
                    pour ameliorer et leurs productions et ainsi elever leurs niveaux de vie.
                </div>
            </div>
        </div>
    </div>
</div><!-- service_row_two -->