<h2>Temoignages</h2> <hr>
<div id="testimony" class="owl-carousel owl-theme">
    <div class="testimony">
        <p><strong>Joe'23</strong></p>
        <q>
            Jonathan did a great job
        </q>
    </div>
    <div class="testimony">
        <p><strong>Hddi </strong></p>
        <q>
            En tant que partenaire de DTI, nous sommes tres heureux de travailler ensemble 
            et tenons a recommender leurs services a tous ceux qui sont interesses. 
            DTI vous servira sans faille.
        </q>
    </div>
    <div class="testimony">
        <p><strong>Anonymous</strong></p>
        <q>J'approve et recommande les services 
            vu leur qualite de travail et niveau exceptionnel de tenir a leurs valeurs</q>
    </div>
    <div class="testimony">
        <p><strong>Jean-Marc Biringanine</strong></p>
        <q>
            En tant que Bailleur de fonds, 
            j'admet que DTI offre des services de qualite et cela en respectant leurs valeurs.
        </q>
    </div>
</div>